* {
    text-align: center;
}

input[type=text], input[type=email], input[type=date], input[type=number], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: min(25%, 150px);
    margin-left: min(25%, 150px);
}

#fields {

}

.fieldLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 20%;
    text-align: right;
    padding: 10px 10px;
    margin: 8px 10px;
    border-radius: 2px;
    border: 1px solid #999;
    color: white;
    background-color: #4CAF50;
}

.buttonBar {
    display: inline;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: 1px solid;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 4px;
}

button:hover {
    background-color: #36793a;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


